.banner-container{
    background-image:url("../../images/banner.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 720px;
    width: 100%;
}